name: macOS M

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
       repository: alcz/hbpksrc
       path: hbpksrc

    - name: Prepare environment
      run: |
        brew install slang
        brew install grep
        brew install libpq
        sudo mkdir /opt/hbpk
        sudo chown $USER /opt/hbpk
        echo verbose=off > $HOME/.wgetrc

    - name: Get previous successful run ID
      id: get_run
      continue-on-error: true
      run: |
        cd hbpksrc
        # ignore artifacts, when a forced rebuild goes
        if ! git log --oneline -n1 | grep -Fq "[corebuild]"; then
          PREV_RUN_ID=$(gh run list --workflow="${{ github.workflow }}" --limit=1 --status=success --json databaseId -q '.[0].databaseId')
          echo "Previous successful run ID: $PREV_RUN_ID"
          echo "run_id=$PREV_RUN_ID" >> $GITHUB_OUTPUT
        fi
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get previously built packages
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: packages-aarch64-macos
        path: packages-aarch64-macos-last
        github-token: ${{ secrets.GITHUB_TOKEN }}
        run-id: ${{ steps.get_run.outputs.run_id }}

    - name: Build base of hbpk
      run: |
        export HBPK_WORKDIR="$HOME/hbpk"
        export PATH="$HBPK_WORKDIR/bin:$PATH"
        rm -rf hbpksrc/packages
        cd hbpksrc/base
        HBPK_XZ_FLAVOR=-current make install
        rm $HBPK_WORKDIR/bin/hbpk-sizecat # pacify progress-bar
        ln -s /bin/cat $HBPK_WORKDIR/bin/hbpk-sizecat
        cat $HBPK_WORKDIR/bin/hbpk-del | sed -e 's/hbpk-sizecat -nosize/cat/' > /tmp/hbpk-del
        mv /tmp/hbpk-del $HBPK_WORKDIR/bin/hbpk-del # another patch for extra argument
        chmod 755 $HBPK_WORKDIR/bin/hbpk-del

    - name: Build a selection of packages
      run: |
        export HBPK_WORKDIR="$HOME/hbpk"
        export PATH="$HBPK_WORKDIR/bin:$HBPK_WORKDIR/harbour/bin/darwin/zig:$(brew --prefix)/opt/grep/libexec/gnubin:$PATH"
        rm -df packages-aarch64-macos-last
        if [ -d "packages-aarch64-macos-last" ]; then
          mv packages-aarch64-macos-last/harbour-core*.hbpk hbpksrc/packages/
          mv packages-aarch64-macos-last/zig*.hbpk hbpksrc/packages/
          cd hbpksrc/packages
          hbpk-add zig*.hbpk
          hbpk-add harbour-core*onedir.hbpk
          cd ../build
        else
          cd hbpksrc/build
          PKGSELECTION=zig-binary make install
          PKGSELECTION=harbour-core make install
          cd harbour-core-onedir
          mv ../harbour-core/harbour-* ./ # only redo the install
          touch .config .depend .extract .fetch .patch
          cd ..
          PKGSELECTION=harbour-core-onedir make install
        fi
        PKGSELECTION=" \
          letodbf-server-elch \
          letodbf-server-alcz \
          letodbf-rdd-elch \
          letodbf-rdd-alcz \
          harbour-crypto \
          harbour-yaml \
          libpq-inherit \
          harbour-pgsql \
          " \
        make install

    - name: Run tests
      run: |
         $HOME/hbpk/harbour/bin/darwin/zig/hbtest

    - name: Build packages depending on OpenSSL
      continue-on-error: true
      run: |
        export HBPK_WORKDIR="$HOME/hbpk"
        export PATH="$HBPK_WORKDIR/bin:$HBPK_WORKDIR/harbour/bin/darwin/zig:$PATH"
        if [ -d "packages-aarch64-macos" ]; then
          mv packages-aarch64-macos-last/openssl*.hbpk hbpksrc/packages/
          cd hbpksrc/packages
          hbpk-add zlib*.hbpk
          hbpk-add cmake*.hbpk
          hbpk-add openssl*.hbpk
          hbpk-add harbour-ssl*.hbpk
          cd ../build
        else
          cd hbpksrc/build
          PKGSELECTION="zlib cmake-binary" make install
          # OpenSSL build-conf is really tied to XCode, few patches is not enough to build it with Zig
          hbpk-del zig # hide Zig's "clang" for a while
          HBPK_OPENSSL_OPTS="no-tests no-apps no-shared" PKGSELECTION="openssl" make install
          hbpk-add ../packages/zig*.hbpk
        fi
        OPENSSL_ROOT_DIR="$HBPK_WORKDIR" \
        ZLIB_ROOT_DIR="$HBPK_WORKDIR" \
        PKGSELECTION=" \
          harbour-ssl \
          libcotp \
          hbotp-naldodj \
          libssh2 \
          hbssh2-alkresin \
          " \
        make install

    - name: Build debug version(s) of Harbour core
      run: |
        export HBPK_WORKDIR="$HOME/hbpk"
        export PATH="$HBPK_WORKDIR/bin:$HBPK_WORKDIR/harbour/bin/darwin/zig:$PATH"
        if [ ! -d "packages-aarch64-macos-last" ]; then
          cd hbpksrc/build/harbour-core-debug
          mv ../harbour-core-onedir/harbour-* ./ # only redo some parts
          touch .config .depend .extract .fetch .patch
          cd harbour-*
          HB_COMPILER=zig make clean
          cd ..
          HBPK_BLD_SUFFIX=+sanitizer PKGSELECTION=harbour-core-debug make install
          cd harbour-*
          HB_COMPILER=zig make clean
          cd ..
          HBPK_USER_CFLAGS=-fno-sanitize-trap=undefined PKGSELECTION=harbour-core-debug make install
        fi

    - name: Rename artifacts
      run: |
        cd hbpksrc
        mv packages packages-aarch64-macos

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages-aarch64-macos
        path: hbpksrc/packages-aarch64-macos
