name: Ubuntu 64-bit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
       repository: alcz/hbpksrc
       path: hbpksrc

    - name: Prepare environment
      run: |
        sudo apt update
        sudo apt install libcurl4-openssl-dev libssl-dev libgtk-3-dev
        sudo mkdir /opt/hbpk
        sudo chown $USER:$USER /opt/hbpk
        echo verbose=off > $HOME/.wgetrc

    - name: Get previous successful run ID
      id: get_run
      continue-on-error: true
      run: |
        cd hbpksrc
        # ignore artifacts, when a forced rebuild goes
        if ! git log --oneline -n1 | grep -Fq "[corebuild]"; then
          PREV_RUN_ID=$(gh run list --workflow="${{ github.workflow }}" --limit=1 --status=success --json databaseId -q '.[0].databaseId')
          echo "Previous successful run ID: $PREV_RUN_ID"
          echo "run_id=$PREV_RUN_ID" >> $GITHUB_OUTPUT
        fi
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get previously built packages
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: packages-x86_64-linux-musl
        path: packages-x86_64-linux-musl-last
        github-token: ${{ secrets.GITHUB_TOKEN }}
        run-id: ${{ steps.get_run.outputs.run_id }}

    - name: Build base of hbpk
      run: |
        export PATH="/opt/hbpk/bin:$PATH"
        rm -rf hbpksrc/packages
        cd hbpksrc/base
        make install
        rm /opt/hbpk/bin/hbpk-sizecat # pacify progress-bar
        ln -s /usr/bin/cat /opt/hbpk/bin/hbpk-sizecat
        cat /opt/hbpk/bin/hbpk-del | sed -e 's/hbpk-sizecat -nosize/cat/' > /tmp/hbpk-del
        mv /tmp/hbpk-del /opt/hbpk/bin/hbpk-del # another patch for extra argument
        chmod 755 /opt/hbpk/bin/hbpk-del

    - name: Build a selection of packages
      run: |
        export PATH="/opt/hbpk/bin:/opt/hbpk/harbour/bin/linux/zig:$PATH"
        # expired artifact leaves empty directory(?)
        rmdir --ignore-fail-on-non-empty packages-x86_64-linux-musl-last || true
        if [ -d "packages-x86_64-linux-musl-last" ]; then
          mv packages-x86_64-linux-musl-last/harbour-core*.hbpk hbpksrc/packages/
          mv packages-x86_64-linux-musl-last/zig*.hbpk hbpksrc/packages/
          cd hbpksrc/packages
          hbpk-add zig*.hbpk
          hbpk-add harbour-core*onedir.hbpk
          cd ../build
        else
          cd hbpksrc/build
          PKGSELECTION=zig-binary make install
          PKGSELECTION=harbour-core make install
          cd harbour-core-onedir
          mv ../harbour-core/harbour-* ./ # only redo the install
          touch .config .depend .extract .fetch .patch
          cd ..
          PKGSELECTION=harbour-core-onedir make install
        fi
        OPENSSL_ROOT_DIR="/opt/hbpk" \
        HBPK_OPENSSL_OPTS="linux-x86_64-clang no-tests" \
        PKGSELECTION=" \
          letodbf-server-elch \
          letodbf-server-alcz \
          letodbf-rdd-elch \
          letodbf-rdd-alcz \
          harbour-yaml \
          harbour-crypto \
          libpq9 \
          harbour-pgsql \
          zlib \
          openssl \
          harbour-ssl \
          libssh2 \
          libcotp \
          libduckdb-binary \
          hbduckdb-wensheng \
          hbotp-naldodj \
          hbssh2-alkresin \
          " \
        make install

    - name: Run tests
      run: |
        /opt/hbpk/harbour/bin/linux/zig/hbtest

    - name: Build debug version(s) of Harbour core
      run: |
        export PATH="/opt/hbpk/bin:/opt/hbpk/harbour/bin/linux/zig:$PATH"
        if [ ! -d "packages-x86_64-linux-musl-last" ]; then
          cd hbpksrc/build/harbour-core-debug
          mv ../harbour-core-onedir/harbour-* ./ # only redo some parts
          touch .config .depend .extract .fetch .patch
          cd harbour-*
          HB_COMPILER=zig make clean
          cd ..
          HBPK_BLD_SUFFIX=+sanitizer PKGSELECTION=harbour-core-debug make install
          cd harbour-*
          HB_COMPILER=zig make clean
          cd ..
          HBPK_USER_CFLAGS=-fno-sanitize-trap=undefined PKGSELECTION=harbour-core-debug make install
        fi

    - name: Rename artifacts
      run: |
        cd hbpksrc
        mv packages packages-x86_64-linux-musl

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages-x86_64-linux-musl
        path: hbpksrc/packages-x86_64-linux-musl/*
