name: Windows 64-bit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:

    - name: Init MSYS2
      uses: msys2/setup-msys2@v2
      with:
        location: d:/
        update: true
        install: >
          mingw-w64-x86_64-github-cli
          mingw-w64-x86_64-minizip
          mingw-w64-x86_64-make
          mingw-w64-x86_64-postgresql
          mingw-w64-clang-x86_64-github-cli
          mingw-w64-clang-x86_64-minizip
          mingw-w64-clang-x86_64-make
          mingw-w64-clang-x86_64-postgresql
          bzip2
          xz
          unzip
          patch
          diffutils
          make
          git

    - uses: actions/checkout@v2
      with:
       repository: alcz/hbpksrc
       path: hbpksrc

    - name: Prepare environment
      shell: msys2 {0}
      run: |
        mkdir /opt/hbpk
        rm -rf hbpksrc/packages
        echo verbose=off > $HOME/.wgetrc

    - name: Get previous successful run ID
      id: get_run
      continue-on-error: true
      shell: msys2 {0}
      run: |
        cd hbpksrc
        # ignore artifacts, when a forced rebuild goes
        if ! git log --oneline -n1 | grep -Fq "[corebuild]"; then
          PREV_RUN_ID=$(gh run list --workflow="${{ github.workflow }}" --limit=1 --status=success --json databaseId -q '.[0].databaseId')
          echo "Previous successful run ID: $PREV_RUN_ID"
          echo "run_id=$PREV_RUN_ID" >> $GITHUB_OUTPUT
        fi
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get previously built packages
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: packages-x86_64-windows-gnu
        path: packages-x86_64-windows-gnu-last
        github-token: ${{ secrets.GITHUB_TOKEN }}
        run-id: ${{ steps.get_run.outputs.run_id }}

    - name: Build base of hbpk
      shell: msys2 {0}
      run: |
        export PATH="/opt/hbpk/bin:/usr/bin:$PATH"
        export HBPK_BOOTCAT=no # shouldn't build hbpk-sizecat in CI at all
        cd hbpksrc/base
        HBPK_XZ_FLAVOR=-inherit make install
        cat /opt/hbpk/bin/hbpk-del | sed -e 's/hbpk-sizecat -nosize/cat/' > /tmp/hbpk-del
        mv /tmp/hbpk-del /opt/hbpk/bin/hbpk-del # another patch for extra argument
        chmod 755 /opt/hbpk/bin/hbpk-del
        ln -f -s /usr/bin/cat.exe /opt/hbpk/bin/hbpk-sizecat.exe

    - name: Build a selection of packages
      shell: msys2 {0}
      run: |
        export PATH="/opt/hbpk/bin:/opt/hbpk/harbour/bin/win/zig:$PATH"
        if [ -d "packages-x86_64-windows-gnu-last" ]; then
          mv packages-x86_64-windows-gnu-last/harbour-core*.hbpk hbpksrc/packages/
          mv packages-x86_64-windows-gnu-last/zig*.hbpk hbpksrc/packages/
          cd hbpksrc/packages
          hbpk-add zig*.hbpk
          hbpk-add harbour-core*onedir.hbpk
          cd ../build
        else
          cd hbpksrc/build
          PKGSELECTION=zig-binary make install
          PKGSELECTION=harbour-core make install
          cd harbour-core-onedir
          mv ../harbour-core/harbour-* ./ # only redo the install
          touch .config .depend .extract .fetch .patch
          cd ..
          PKGSELECTION=harbour-core-onedir make install
        fi
        wget https://harbour.zip/packages/x86_64-windows-gnu/libpq-9.6.24+outdatedssl+testonly.hbpk
        hbpk-add libpq-9.6.24+outdatedssl+testonly.hbpk
        rm libpq-9.6.24+outdatedssl+testonly.hbpk
        PKGSELECTION=" \
          letodbf-server-elch \
          letodbf-server-alcz \
          letodbf-rdd-elch \
          letodbf-rdd-alcz \
          harbour-yaml \
          harbour-crypto \
          hwgui \
          harbour-pgsql \
          libduckdb-binary \
          hbduckdb-wensheng \
          libpq-inherit \
          harbour-pgsql \
          " \
        make install

    - name: Run tests
      shell: msys2 {0}
      run: |
        /opt/hbpk/harbour/bin/win/zig/hbtest

    - name: 'Extend environment for deps that need GNU tools to build'
      shell: msys2 {0}
      run: |
        pacman -S --noconfirm mingw-w64-x86_64-binutils
        pacman -S --noconfirm mingw-w64-x86_64-gcc

    - name: Build packages depending on OpenSSL
      continue-on-error: true
      shell: msys2 {0}
      run: |
        export PATH="/opt/hbpk/bin:/opt/hbpk/harbour/bin/win/zig:$PATH"
        # OpenSSL seems to require windres (linking tools stage), windres wants GCC
        if [ -d "packages-x86_64-windows-gnu-last" ]; then
          mv packages-x86_64-windows-gnu-last/openssl*.hbpk hbpksrc/packages/
          cd hbpksrc/packages
          hbpk-add zlib*.hbpk
          hbpk-add cmake*.hbpk
          hbpk-add openssl*.hbpk
          hbpk-add harbour-ssl*.hbpk
          cd ../build
        else
          cd hbpksrc/build
          HBPK_OPENSSL_OPTS="no-tests no-apps" PKGSELECTION="zlib cmake-binary openssl" make install
        fi
        OPENSSL_ROOT_DIR="/opt/hbpk" \
        PKGSELECTION=" \
          harbour-ssl \
          libcotp \
          hbotp-naldodj \
          libssh2 \
          hbssh2-alkresin \
          " \
        make install

    - name: Build debug version(s) of Harbour core
      shell: msys2 {0}
      run: |
        export PATH="/opt/hbpk/bin:/opt/hbpk/harbour/bin/win/zig:$PATH"
        if [ ! -d "packages-x86_64-windows-gnu-last" ]; then
          cd hbpksrc/build/harbour-core-debug
          mv ../harbour-core-onedir/harbour-* ./ # only redo some parts
          touch .config .depend .extract .fetch .patch
          cd harbour-*
          HB_COMPILER=zig make clean
          cd ..
          HBPK_BLD_SUFFIX=+sanitizer PKGSELECTION=harbour-core-debug make install
          cd harbour-*
          HB_COMPILER=zig make clean
          cd ..
          HBPK_USER_CFLAGS=-fno-sanitize-trap=undefined PKGSELECTION=harbour-core-debug make install
        fi

    - name: Rename artifacts
      shell: msys2 {0}
      run: |
        cd hbpksrc
        mv packages packages-x86_64-windows-gnu

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages-x86_64-windows-gnu
        path: hbpksrc/packages-x86_64-windows-gnu/*
